manifest {
    name = 'bulk2cell'
    description = 'Bulk PacBio-assisted 10x 3-prime isoform quantification'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.04.0'
    version = '0.1.0'
}
params {
    input = null
    genome = null
    annotation = null
    outdir = 'results'
    help = false
    cellranger = 'cellranger'
    salmon_libtype = 'A'
    frag_mean = 200
    frag_sd = 80
    tau = 10
    max_likelihood_entries = 10000000
}
process {
    executor = 'local'
    cpus = 2
    memory = '8 GB'
    time = '12h'
    shell = ['/bin/bash','-euo','pipefail']
    errorStrategy = 'terminate'
    withLabel: python { conda = "${projectDir}/envs/python.yml" }
    withLabel: python_heavy {
        conda = "${projectDir}/envs/python.yml"
        cpus = 8
        memory = '64 GB'
        time = '72h'
    }
    withLabel: isoseq {
        conda = "${projectDir}/envs/isoseq.yml"
        cpus = 8
        memory = '64 GB'
        time = '48h'
    }
    withLabel: isoseq_heavy {
        conda = "${projectDir}/envs/isoseq.yml"
        cpus = 16
        memory = '192 GB'
        time = '96h'
    }
    withLabel: cellranger {
        cpus = 16
        memory = '64 GB'
        time = '48h'
    }
    withLabel: salmon {
        conda = "${projectDir}/envs/salmon.yml"
        cpus = 8
        memory = '64 GB'
        time = '24h'
    }
    withLabel: salmon_python {
        conda = "${projectDir}/envs/salmon.yml"
        cpus = 8
        memory = '32 GB'
        time = '24h'
    }
}
profiles {
    conda {
        conda.enabled = true
        conda.cacheDir = "${projectDir}/.conda/tasks"
        conda.createTimeout = '2h'
    }
    installed {
        conda.enabled = true
        process {
            withLabel: python { conda = "${projectDir}/.conda/python" }
            withLabel: python_heavy { conda = "${projectDir}/.conda/python" }
            withLabel: isoseq { conda = "${projectDir}/.conda/isoseq" }
            withLabel: isoseq_heavy { conda = "${projectDir}/.conda/isoseq" }
            withLabel: salmon { conda = "${projectDir}/.conda/salmon" }
            withLabel: salmon_python { conda = "${projectDir}/.conda/salmon" }
        }
    }
    slurm {
        process.executor = 'slurm'
        executor.queueSize = 20
    }
    test {
        conda.enabled = false
        process.cpus = 1
        process.memory = '1 GB'
        process.time = '10m'
        process.executor = 'local'
    }
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
    overwrite = true
}
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
    overwrite = true
}
